/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* Tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Css Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* CSS variables */
:root {
  --black-shade-bg: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

/* Custom CSS Area Start */
.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}
.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.primary_text_shade {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.primary_gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}
.blue__gradient {
  filter: blur(123px);
  background-image: linear-gradient(
    180deg,
    rgba(188, 165, 255, 0) 0%,
    #214d76 100%
  );
  background-image: -moz-linear-gradient(
    180deg,
    rgba(188, 165, 255, 0) 0%,
    #637b93a8 100%
  );
}
.pink__gradient {
  background-image: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  background-image: -moz-linear-gradient(90deg, #0000 0%, #f6ebf605 100%);
  filter: blur(900px);
}
.white__gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6)
  );
  background: -moz-linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
  filter: blur(500px);
}
.transparent-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}
.map-img {
  width: 720px;
}

.map-selected {
  fill: #ffdc00;
}

.map-unselected {
  fill: #fff;
}

.map-selected:hover,
.map-unselected:hover {
  cursor: pointer;
}

.feature-card:hover {
  background: var(--black-shade-bg);
  box-shadow: var(--card-shadow);
}
.swiper-button-next,
.swiper-button-prev {
  border: 2px solid #214d76;
  padding: 1.5rem;
  border-radius: 50%;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
}
.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}
.transparent_box_shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}
.converter_card {
  background: var(--black-shade-bg);
  box-shadow: var(--card-shadow);
}

.padding-y {
  @apply md:py-24 ss:py-12 py-4;
}
.padding-x {
  @apply sm:px-16 px-6;
}

.flex-center {
  @apply flex justify-center items-center;
}
.box-width {
  @apply max-w-screen-xl;
  width: 100%;
}

.flex-start {
  @apply flex justify-center items-start;
}

.paragraph {
  @apply font-poppins font-normal text-greyish text-base md:text-lg leading-relaxed;
}
.sectionInfo {
  @apply flex-1 flex-col flex justify-center items-start;
}
.heading2 {
  @apply font-poppins font-semibold text-white w-full;
}
.sectionImg {
  @apply flex-1 flex justify-center items-start md:ml-10 ml-0 md:mt-0 mt-10 relative;
}
/* Custom CSS Area End */

/* Media Query Start */
@media screen and (max-width: 1294px) {
  .map-img {
    width: 600px;
  }
}
@media only screen and (min-width: 1059px) and (max-width: 1293px) {
  .map-img {
    width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .map-img {
    width: 435px;
  }
}

@media screen and (max-width: 468px) {
  .map-img {
    width: 330px;
  }
}

@media screen and (max-width: 380px) {
  .map-img {
    height: 200px;
    width: 250px;
  }
}
/* Media Query End */
